* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

canvas {
    background-color: #000;
}

.sendBtn {
    position: absolute;
    color: #bababa;
    top: 20px; right: 20px;
    background-color: transparent;
    border: 2px solid #bababa;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}

.sendBtn:hover {
    background-color: #292929;
}

span {
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.ui .highlight {
    position: absolute;
    background-color: #ffff0025;
}

.scanLine {
    position: absolute;
    top: 0; left: -200px;
    /* background: linear-gradient(90deg, #ffff0000 40%, #ffffff7a 50%, #ffff0000 60%); */
    background-color: #ffbb0079;
    height: 100vh;
    width: 5px;
    animation-name: scanLineAnim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier();
}

@keyframes scanLineAnim {
    0% {
        left: -200px;
    }

    100% {
        left: 100vw;
    }
}

#codePreview {
    position: absolute;
    top: 30vh; right: 50px;
    height: 40vh; width: 40vh;
    outline: none;
    background-color: #0f0f0f;
    border: none;
    border-radius: 10px;
    resize: none;
    color: white;
    padding: 20px;
}