@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --thumb-size: 15px;
    --brush-size: 2px;
    --cursor-color: #fff;
}

body {
    cursor: none;
    background-color: #242424;
}

canvas {
    background-color: #000;
    touch-action: none;
}

.controls {
    position: absolute;
    top: 20px; right: 20px;
}

.controls span {
    background-color: transparent;
    border: 2px solid #bababa;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
    font-size: 22px;
    color: #bababa;
    margin-left: 3px;
}

span {
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.brushControls {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    height: 100px;
    z-index: 10;
}

.hoverRangeZone {
    position: absolute;
    top: 50%; left: 0px;
    width: 100px;
    height: 300px;
    transform: translateY(-50%);
    cursor: default;
    z-index: 10;
}

.brushPreview {
    position: absolute;
    top: 50%; left: 100px;
    width: var(--brush-size); height: var(--brush-size);
    border: 2px solid #fff;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 1s;
    border-radius: 50%;
    z-index: 10;
}

@keyframes scanLineAnim {
    0% {
        left: -200px;
    }

    100% {
        left: 100vw;
    }
}

.codePreviewOuter {
    position: absolute;
    top: 10vh; right: 0;
    height: max-content; width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    transition: 1s;
    touch-action: none;
}

#codePreview {
    height: 40vh; width: 100%;
    outline: none;
    background-color: #0f0f0f;
    border: none;
    border-radius: 10px 0 0 10px;
    resize: none;
    color: white;
    padding: 20px;
    overflow: auto;
}

#codeOutput {
    height: 40vh; width: 100%;
    outline: none;
    background-color: #0f0f0f;
    border: none;
    border-radius: 10px 0 0 10px;
    resize: none;
    color: white;
    padding: 20px;
    overflow: auto;
}

.codePreviewOuter #hideBtn {
    color: #a1a1a1;
    height: max-content;
    padding: 7px 2px;
    cursor: pointer;
    font-size: 15px;
    transform: rotateZ(180deg);
    width: max-content;
    border-radius: 5px;
    margin-right: 5px;
    user-select: none;
    transition: 1s;
}

#codePreview::-webkit-scrollbar, #codeOutput::-webkit-scrollbar {
    width: 5px;
}
#codePreview::-webkit-scrollbar-track, #codeOutput::-webkit-scrollbar-track {
    background: transparent;
}
#codePreview::-webkit-scrollbar-thumb, #codeOutput::-webkit-scrollbar-thumb {
    background-color: #242424;
    border-radius: 20px;
    cursor: pointer;
}

.loading {
    position: absolute;
    top: calc(90vh - 40px);
    right: 20px;
    cursor: default;
    opacity: 0;
    transition: 1s;
}

.loading span {
    color: #a1a1a1;
    font-size: 20px;
    animation-name: loadingAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loadingAnim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.brushControls {
    position: absolute;
    top: 50vh; left: 30px;
    transform: translateY(-50%);
    height: max-content;
    z-index: 10;
    overflow: visible;
    cursor: default;
}

.sliderOuter {
    height: 200px;
    width: 20px;
    z-index: 10;
    overflow: visible;
    margin: auto;
    position: relative;
    margin-bottom: 15px;
    cursor: default;
}

input#brushSize {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    transform: rotate(270deg) translate(-50%, -90px);
    border-radius: 5px;
    background: transparent;
    overflow: visible;
    transform-origin: 50% 50%;
    outline: none;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
}

/* input#brushSize {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 50%;
    transform: rotate(270deg) translateY(-50%);
    left: -50px;
    width: 200px;
    overflow: visible;
    border-radius: 5px;
    background: transparent;
    z-index: 10;
} */

input#brushSize::-webkit-slider-runnable-track {
    background: #292929;
    height: 4px;
    border-radius: 4px;
}

input#brushSize::-moz-range-track {
    background: #292929;
    height: 4px;
    border-radius: 4px;
}

input#brushSize::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(calc(-.5 * (var(--thumb-size) - 4px)));
    transition: .5s;
}

input#brushSize::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-8px);
}

.brushControls span {
    display: block;
    background-color: transparent;
    color: #fff;
    padding: 3px;
    border-radius: 6px;
    height: max-content;
    width: max-content;
    margin-top: 5px;
    cursor: pointer;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    transition: .5s;
    user-select: none;
}

.brushControls span:hover {
    background-color: #363636;
}

.brushControls span.active {
    background-color: white;
    color: #000000;
}

.cursor {
    width: var(--brush-size); height: var(--brush-size);
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: var(--cursor-color);
    border-radius: 50%;
    pointer-events: none;
}

@media (max-width: 800px) { 

    * {
        -webkit-tap-highlight-color: transparent;
    }

    .codePreviewOuter {
        position: absolute;
        top: 50%; left: 0;
        height: 100%; width: 100vw;
        display: block;
    }

    #codePreview {
        height: 100%; width: 100%;
        outline: none;
        z-index: -100;
        border-radius: 10px 10px 0 0;
    }

    .codePreviewOuter #hideBtn {
        width: 100%;
        transform: rotateZ(270deg);
    }

    .loading {
        top: calc(100vh - 15px);
        right: 15px;
        transform: translateY(-100%);
    }

    .brushControls {
        top: 30px;
        transform: none;
        left: 10px;
    }
    
}

.loading_block {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    background-color: #000000;
    z-index: 1000;
    color: #fff;
}

.loading_block p {
    font-family: 'Manrope', sans-serif;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
}