* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --thumb-size: 15px;
    --brush-size: 2px;
    --cursor-color: #fff;
}

body {
    cursor: none;
}

canvas {
    background-color: #000;
}

.sendBtn {
    position: absolute;
    color: #bababa;
    top: 20px; right: 20px;
    background-color: transparent;
    border: 2px solid #bababa;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}

.sendBtn:hover {
    background-color: #292929;
}

span {
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.colors {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    height: 100px;
}

.hoverRangeZone {
    position: absolute;
    top: 50%; left: 0px;
    width: 100px;
    height: 300px;
    transform: translateY(-50%);
    cursor: pointer;
}

input#brushSize {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 50%;
    transform: rotate(270deg) translateY(-50%);
    left: -50px;
    width: 200px;
    overflow: visible;
    border-radius: 5px;
    background: transparent;
}

input#brushSize::-webkit-slider-runnable-track {
    background: #292929;
    height: 4px;
    border-radius: 4px;
}

input#brushSize::-moz-range-track {
    background: #292929;
    height: 4px;
    border-radius: 4px;
}

input#brushSize::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(calc(-.5 * (var(--thumb-size) - 4px)));
    transition: .5s;
}

input#brushSize::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-8px);
}

.brushPreview {
    position: absolute;
    top: 50%; left: 100px;
    width: var(--brush-size); height: var(--brush-size);
    border: 2px solid #fff;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 1s;
    border-radius: 50%;
}

.scanLine {
    position: absolute;
    top: 0; left: -200px;
    /* background: linear-gradient(90deg, #ffff0000 40%, #ffffff7a 50%, #ffff0000 60%); */
    background-color: #ffbb0079;
    height: 100vh;
    width: 5px;
    animation-name: scanLineAnim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier();
}

@keyframes scanLineAnim {
    0% {
        left: -200px;
    }

    100% {
        left: 100vw;
    }
}

#codePreview {
    position: absolute;
    top: 30vh; right: 50px;
    height: 40vh; width: 40vh;
    outline: none;
    background-color: #0f0f0f;
    border: none;
    border-radius: 10px;
    resize: none;
    color: white;
    padding: 20px;
}

.loading {
    position: absolute;
    top: calc(70vh - 30px);
    right: 60px;
    cursor: default;
    opacity: 0;
    transition: 1s;
}

.loading span {
    color: #a1a1a1;
    font-size: 20px;
    animation-name: loadingAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loadingAnim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.colors {
    position: absolute;
    top: calc(50vh + 150px); left: 33px;
    height: max-content;
}

.colors span {
    display: block;
    background-color: transparent;
    color: #fff;
    padding: 3px;
    border-radius: 6px;
    height: max-content;
    width: max-content;
    margin-top: 5px;
    cursor: pointer;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    transition: .5s;
    user-select: none;
}

.colors span:hover {
    background-color: #363636;
}

.colors span.active {
    background-color: white;
    color: #000000;
}

.cursor {
    width: var(--brush-size); height: var(--brush-size);
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: var(--cursor-color);
    border-radius: 50%;
    pointer-events: none;
}